# dependencies
node_modules
**/node_modules

# build output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs/*
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv
.env
.env.*
!.env.example

# runtime data
**/screenshots/*
**/public/media/*
**/logs/*

# caches
.eslintcache
.cache
*.tsbuildinfo

# editors
.idea
.DS_Store
.vscode
